<!DOCTYPE html>
<html lang="en">
   {%block head%}
   {%endblock%}
  
    <body id="page-top">
      {%block body%}
      {%endblock%}
      
        <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black;" id="sideNav">
         <div class="coins">
            
            
            <a class="about" href="{{url_for('mainpage')}}">Home</a>
            <a id="top" href="{{url_for('bitcoin')}}">Bitcoin</a>
            <a id="top"  href="{{url_for('ethereum')}}">Ethereum</a>
            <a id="top" href="{{url_for('tether')}}">Tether</a>
            <a id="top" href="{{url_for('ripple')}}">Ripple</a>
            <a id="top" href="{{url_for('bitcash')}}">BitcoinCash</a>
   
   
         </div>

      </nav>
      
       
    </body>
</html>


<style>
.coins{

   word-spacing: 300px;
}
</style>


































