{%extends "base.html"%}
{%block head%}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Personal website - Selman Kahya">
  <meta name="author" content="Selman Kahya" />
  <meta name="description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.selmankahya.com/">
  <meta property="og:title" content="Personal website - Selman Kahya">
  <meta property="og:description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">
  <meta property="og:image" content="https://selmankahya.com/assets/img/card.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.selmankahya.com/">
  <meta property="twitter:title" content="Personal website - Selman Kahya">
  <meta property="twitter:description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">
  <meta property="twitter:image" content="https://selmankahya.com/assets/img/card.jpg">

  <title>Stock Analysis</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167316383-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167316383-1');
  </script>
</head>
    {%endblock%}
{%block body%} 



  <!-- Page Content-->
  <div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
           <p>Welcome to the Stock Analysing website</p>
            <h1 class="mb-0">Ozan <span class="text-primary">Çetin</span></h1>
            <div class="subheading mb-3">Conmputer Science/Engineering Student <span class="mx-2">·</span> Business inquiries: <a href="mailto:ozanc1091@gmail.com">ozanc1091@gmail.com</a></div>
            <p class="lead mb-5">I’m a computer engineer student with experience in machine learning and back-end systems.</p>
            <div class="social-icons d-flex align-items-center flex-wrap">
               
                <a class="social-icon mb-2" target="_blank" href="https://www.linkedin.com/in/ozan-%C3%A7etin-23717a1a3/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon mb-2" href="https://github.com/0zzy0sbourne" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon mb-2" href="https://twitter.com/CetOzan" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon mb-2" href="https://www.instagram.com/0zan_n/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-secondary mb-2" href="https://medium.com/@ozanc1091" target="_blank">Blog</a>

            </div>
            <div class="mt-2">
                
            </div>
        </div>
    </section>
</div>

   


{%endblock%}

     




    