{%extends "base.html"%}
{%block head%}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
  
    <!-- Primary Meta Tags -->
    <meta name="title" content="Personal website - Selman Kahya">
    <meta name="author" content="Selman Kahya" />
    <meta name="description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">
  
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.selmankahya.com/">
    <meta property="og:title" content="Personal website - Selman Kahya">
    <meta property="og:description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">
    <meta property="og:image" content="https://selmankahya.com/assets/img/card.jpg">
  
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.selmankahya.com/">
    <meta property="twitter:title" content="Personal website - Selman Kahya">
    <meta property="twitter:description" content="I’m a senior software engineer with experience in developing front-end and back-end systems.">
    <meta property="twitter:image" content="https://selmankahya.com/assets/img/card.jpg">
  
    <title>Stock Analysis</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167316383-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-167316383-1');
    </script>
  </head>
{%endblock%}
{%block body%}




{%endblock%}


